@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size: 16px;
  --radius: .625rem;
  --text-primary: #172b4d;
  --text-secondary: #5e6c84;
  --text-subtle: #6b778c;
  --text-disabled: #a5adba;
  --link-default: #0052cc;
  --link-hover: #0065ff;
  --link-visited: #5e6c84;
  --background: #fff;
  --foreground: var(--text-primary);
  --card: #fff;
  --card-foreground: var(--text-primary);
  --popover: oklch(1 0 0);
  --popover-foreground: var(--text-primary);
  --primary: #030213;
  --primary-foreground: #fff;
  --secondary: oklch(.95 .0058 264.53);
  --secondary-foreground: #030213;
  --muted: #ececf0;
  --muted-foreground: #717182;
  --accent: #e9ebef;
  --accent-foreground: #030213;
  --destructive: #d4183d;
  --destructive-foreground: #fff;
  --border: #0000001a;
  --input: transparent;
  --input-background: #f3f3f5;
  --switch-background: #cbced4;
  --ring: oklch(.708 0 0);
  --chart-1: oklch(.646 .222 41.116);
  --chart-2: oklch(.6 .118 184.704);
  --chart-3: oklch(.398 .07 227.392);
  --chart-4: oklch(.828 .189 84.429);
  --chart-5: oklch(.769 .188 70.08);
  --sidebar: oklch(.985 0 0);
  --sidebar-foreground: var(--text-primary);
  --sidebar-primary: #030213;
  --sidebar-primary-foreground: oklch(.985 0 0);
  --sidebar-accent: oklch(.97 0 0);
  --sidebar-accent-foreground: oklch(.205 0 0);
  --sidebar-border: oklch(.922 0 0);
  --sidebar-ring: oklch(.708 0 0);
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --text-2xl: 1.75rem;
  --text-xl: 1.375rem;
  --text-lg: 1.125rem;
  --text-base: 1rem;
  --text-sm: .875rem;
  --text-xs: .75rem;
}

.dark {
  --text-primary: oklch(.985 0 0);
  --text-secondary: oklch(.81 0 0);
  --text-subtle: oklch(.73 0 0);
  --text-disabled: oklch(.62 0 0);
  --link-default: #4c9aff;
  --link-hover: #85b8ff;
  --link-visited: #a5adba;
  --background: oklch(.145 0 0);
  --foreground: var(--text-primary);
  --card: oklch(.145 0 0);
  --card-foreground: var(--text-primary);
  --popover: oklch(.145 0 0);
  --popover-foreground: var(--text-primary);
  --primary: oklch(.985 0 0);
  --primary-foreground: oklch(.205 0 0);
  --secondary: oklch(.269 0 0);
  --secondary-foreground: oklch(.985 0 0);
  --muted: oklch(.269 0 0);
  --muted-foreground: oklch(.708 0 0);
  --accent: oklch(.269 0 0);
  --accent-foreground: oklch(.985 0 0);
  --destructive: oklch(.396 .141 25.723);
  --destructive-foreground: oklch(.637 .237 25.331);
  --border: oklch(.269 0 0);
  --input: oklch(.269 0 0);
  --ring: oklch(.439 0 0);
  --chart-1: oklch(.488 .243 264.376);
  --chart-2: oklch(.696 .17 162.48);
  --chart-3: oklch(.769 .188 70.08);
  --chart-4: oklch(.627 .265 303.9);
  --chart-5: oklch(.645 .246 16.439);
  --sidebar: oklch(.205 0 0);
  --sidebar-foreground: var(--text-primary);
  --sidebar-primary: oklch(.488 .243 264.376);
  --sidebar-primary-foreground: oklch(.985 0 0);
  --sidebar-accent: oklch(.269 0 0);
  --sidebar-accent-foreground: oklch(.985 0 0);
  --sidebar-border: oklch(.269 0 0);
  --sidebar-ring: oklch(.439 0 0);
  --font-weight-medium: 500;
  --font-weight-normal: 400;
}

html {
  font-size: var(--font-size);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
